@import "tailwindcss";

.netflix{
      font-family: "Bebas Neue", sans-serif;
}

.text-stroke-white{
      -webkit-text-stroke: 2px white;
      color: black;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

